In [53]:
from IPython.display import Image
  
# get the image
Image(url="https://editor.analyticsvidhya.com/uploads/19855data%20cleaning%20cycle.jpg", width=500, height=400)

In [54]:
# Importing the processing Libray..
import numpy as np
import pandas as pd
from datetime import datetime

In [55]:
# Read the subscriber Details
df = pd.read_csv('../../Raw dataset/subscriber.csv')

In [56]:
df.head()

,sub _id,first_name,last_name,Street,Birth_date,Gender,Phone,Country,City,Zip Code,Subgrp_id,Elig_ind,eff_date,term_date
0,SUBID10000,Harbir,Vishwakarma,Baria Marg,1924-06-30,Female,+91 0112009318,India,Rourkela,767058,S107,Y,1944-06-30,1954-01-14
1,SUBID10001,Brahmdev,Sonkar,Lala Marg,1948-12-20,Female,+91 1727749552,India,Tiruvottiyur,34639,S105,Y,1968-12-20,1970-05-16
2,SUBID10002,Ujjawal,Devi,Mammen Zila,1980-04-16,Male,+91 8547451606,India,Berhampur,914455,S106,N,2000-04-16,2008-05-04
3,SUBID10003,Ballari,Mishra,Sahni Zila,1969-09-25,Female,+91 0106026841,India,Bihar Sharif,91481,S104,N,1989-09-25,1995-06-05
4,SUBID10004,Devnath,Srivastav,Magar Zila,1946-05-01,Female,+91 1868774631,India,Bidhannagar,531742,S110,N,1966-05-01,1970-12-09

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sub _id     100 non-null    object
 1   first_name  73 non-null     object
 2   last_name   100 non-null    object
 3   Street      100 non-null    object
 4   Birth_date  100 non-null    object
 5   Gender      100 non-null    object
 6   Phone       97 non-null     object
 7   Country     100 non-null    object
 8   City        100 non-null    object
 9   Zip Code    100 non-null    int64
 10  Subgrp_id   98 non-null     object
 11  Elig_ind    96 non-null     object
 12  eff_date    100 non-null    object
 13  term_date   100 non-null    object
dtypes: int64(1), object(13)
memory usage: 11.1+ KB

In [9]:
df.describe

<bound method NDFrame.describe of        sub _id first_name    last_name       Street  Birth_date  Gender  \
0    SUBID1000     Harbir  Vishwakarma   Baria Marg  1924-06-30  Female
1   SUBID10001   Brahmdev       Sonkar    Lala Marg  1948-12-20  Female
2   SUBID10002    Ujjawal         Devi  Mammen Zila  1980-04-16    Male
3   SUBID10003    Ballari       Mishra   Sahni Zila  1969-09-25  Female
4   SUBID10004    Devnath    Srivastav   Magar Zila  1946-05-01  Female
..         ...        ...          ...          ...         ...     ...
95  SUBID10095    Ekaaksh          Rai  Bansal Ganj  1933-12-02  Others
96  SUBID10096     Chanak       Sonkar         Kaur  1959-04-07  Others
97  SUBID10097        NaN       Sonkar    Rana Ganj  1940-02-04  Others
98   SUBID1098    Pushkar        Kumar   Sodhi Zila  1934-10-05  Others
99  SUBID10099     Shikha    Srivastav   Ahuja Road  1970-09-06  Others

             Phone Country                          City  Zip Code Subgrp_id  \
0   +91 0112009318   India                      Rourkela    767058      S107
1   +91 1727749552   India                  Tiruvottiyur     34639      S105
2   +91 8547451606   India                     Berhampur    914455      S106
3   +91 0106026841   India                  Bihar Sharif     91481      S104
4   +91 1868774631   India                   Bidhannagar    531742      S110
..             ...     ...                           ...       ...       ...
95             NaN   India              Pimpri-Chinchwad    158186      S107
96  +91 7284540687   India  Raurkela Industrial Township    899590      S101
97  +91 8908240160   India                Mira-Bhayandar    896586      S107
98  +91 8956368286   India                         Korba    910732      S107
99  +91 3042509956   India                        Nanded    101500      S109

   Elig_ind    eff_date   term_date
0         Y  1944-06-30  1954-01-14
1         Y  1968-12-20  1970-05-16
2         N  2000-04-16  2008-05-04
3         N  1989-09-25  1995-06-05
4         N  1966-05-01  1970-12-09
..      ...         ...         ...
95        N  1953-12-02  1960-07-29
96        Y  1979-04-07  1986-03-07
97        Y  1960-02-04  1965-01-12
98        Y  1954-10-05  1961-04-05
99        Y  1990-09-06  1997-11-27

[100 rows x 14 columns]>

In [10]:
df.isnull()

,sub _id,first_name,last_name,Street,Birth_date,Gender,Phone,Country,City,Zip Code,Subgrp_id,Elig_ind,eff_date,term_date
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,True,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,True,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Count the total Null values
df.isnull().sum()

sub _id        0
first_name    27
last_name      0
Street         0
Birth_date     0
Gender         0
Phone          3
Country        0
City           0
Zip Code       0
Subgrp_id      2
Elig_ind       4
eff_date       0
term_date      0
dtype: int64

In [12]:
# Replace the null values
df["first_name"].fillna("NA", inplace = True)

In [13]:
# Replace the null values
df["Phone"].fillna("NA", inplace = True)

In [14]:
# Replace the null values
df["Subgrp_id"].fillna("NA", inplace = True)

In [15]:
# Replace the null values
df["Elig_ind"].fillna("N", inplace = True)

In [17]:
df.head(60)

,sub _id,first_name,last_name,Street,Birth_date,Gender,Phone,Country,City,Zip Code,Subgrp_id,Elig_ind,eff_date,term_date
0,SUBID1000,Harbir,Vishwakarma,Baria Marg,1924-06-30,Female,+91 0112009318,India,Rourkela,767058,S107,Y,1944-06-30,1954-01-14
1,SUBID10001,Brahmdev,Sonkar,Lala Marg,1948-12-20,Female,+91 1727749552,India,Tiruvottiyur,34639,S105,Y,1968-12-20,1970-05-16
2,SUBID10002,Ujjawal,Devi,Mammen Zila,1980-04-16,Male,+91 8547451606,India,Berhampur,914455,S106,N,2000-04-16,2008-05-04
3,SUBID10003,Ballari,Mishra,Sahni Zila,1969-09-25,Female,+91 0106026841,India,Bihar Sharif,91481,S104,N,1989-09-25,1995-06-05
4,SUBID10004,Devnath,Srivastav,Magar Zila,1946-05-01,Female,+91 1868774631,India,Bidhannagar,531742,S110,N,1966-05-01,1970-12-09
5,SUBID10005,Atasi,Seth,Khatri Nagar,1967-10-02,Male,+91 9747336855,India,Amravati,229062,S104,Y,1987-10-02,1995-02-13
6,SUBID1006,Manish,Maurya,Swaminathan Chowk,1967-06-06,Male,+91 4354294043,India,Panvel,438733,S109,N,1987-06-06,1995-03-21
7,SUBID10007,Aakar,Yadav,Swamy,1925-03-05,Female,+91 2777633911,India,Bihar Sharif,535907,S104,N,1945-03-05,1946-11-07
8,SUBID10008,Gurudas,Gupta,Sarin Nagar,1945-05-06,Male,+91 1232859381,India,Kamarhati,933226,S103,Y,1965-05-06,1970-09-16
9,SUBID10009,NA,Gupta,Thakur Circle,1925-06-12,Male,+91 1780763280,India,Bangalore,957469,S105,Y,1945-06-12,1953-08-30
10,SUBID1010,NA,Divedi,Dhillon,1976-02-03,Male,+91 5586075345,India,Rajkot,911319,S102,Y,1996-02-03,2002-01-27
11,SUBID10011,NA,Vishwakarma,Rajagopalan,1955-01-22,Female,+91 4146391938,India,Ghaziabad,337042,S106,N,1975-01-22,1978-11-02
12,SUBID10012,Dharmadaas,Tiwari,Rama,1964-04-29,Male,+91 6345482027,India,Bhalswa Jahangir Pur,430793,S103,N,1984-04-29,1988-02-07
13,SUBID10013,Brahmvir,Rai,Shah Path,1991-11-11,Male,+91 7316972612,India,Ambala,249898,S106,N,2011-11-11,2020-05-23
14,SUBID10014,NA,Srivastav,Chandra Path,1981-01-25,Female,+91 2960004518,India,Surendranagar Dudhrej,111966,S102,N,2001-01-25,2005-07-13
15,SUBID10015,Bhagvan,Srivastav,Edwin,1966-07-24,Female,+91 0297693485,India,Bhimavaram,436513,S105,Y,1986-07-24,1988-02-04
16,SUBID10016,Amritkala,Srivastav,Guha Path,1933-11-20,Female,+91 0537157280,India,Meerut,863467,S106,Y,1953-11-20,1955-07-29
17,SUBID10017,Bandhu,Seth,Varughese,1996-10-15,Male,+91 0695289163,India,Chinsurah,136713,S108,N,2016-10-15,2018-06-08
18,SUBID10018,Bhagavaana,Kumar,Kulkarni Zila,1935-09-16,Female,+91 6071745855,India,Shahjahanpur,597276,S101,N,1955-09-16,1958-05-31
19,SUBID10019,NA,Maurya,Sharaf Nagar,1924-11-09,Female,+91 8906694405,India,Jabalpur,958538,S104,N,1944-11-09,1951-10-14
20,SUBID1020,Umang,Srivastav,Balay Chowk,1963-07-14,Female,+91 9485838770,India,Haridwar,181692,S109,Y,1983-07-14,1986-01-15
21,SUBID1021,Darsana,Yadav,Upadhyay Zila,1932-05-29,Male,+91 7676311811,India,Dibrugarh,187414,S109,Y,1952-05-29,1953-10-14
22,SUBID10022,Prakash,Rao,Sachar,1923-09-15,Female,+91 9268324471,India,Kottayam,180680,NA,N,1943-09-15,1948-10-19
23,SUBID10023,Vaijayanti,Pratap,Khalsa Nagar,1920-11-13,Male,+91 9358851649,India,Mira-Bhayandar,419190,S102,Y,1940-11-13,1946-03-10
24,SUBID10024,Menakshi,Seth,Wable Street,1987-03-06,Male,+91 0531676556,India,Kamarhati,882577,S107,N,2007-03-06,2014-02-25
25,SUBID10025,NA,Tiwari,Sha Chowk,1955-12-24,Male,+91 2416747182,India,Karimnagar,567762,S106,N,1975-12-24,1983-02-03
26,SUBID10026,Ekant,Sonkar,Walla Road,1943-08-13,Male,+91 7686951174,India,Berhampore,948589,S110,Y,1963-08-13,1967-05-29
27,SUBID10027,Chancharik,Pandey,Karan Ganj,1983-09-05,Male,+91 5309364825,India,Chapra,154667,S109,N,2003-09-05,2011-06-12
28,SUBID10028,Pushti,Pandit,Deol Path,1935-10-15,Female,+91 7093722203,India,Morbi,284168,S106,N,1955-10-15,1959-06-04
29,SUBID10029,Swati,Seth,Kant Marg,1987-12-11,Female,+91 1028477510,India,Amravati,932221,S102,N,2007-12-11,2011-10-17
30,SUBID1030,Upasana,Pandey,Seth Chowk,1956-06-01,Male,+91 0548234943,India,Hyderabad,234823,S102,N,1976-06-01,1981-02-14
31,SUBID10031,Kanhaiya,Lal,Savant Nagar,1954-10-19,Female,+91 0788738026,India,Mysore,638433,S104,Y,1974-10-19,1977-01-03
32,SUBID1032,NA,Seth,Sandhu Chowk,1968-07-02,Female,+91 2599794460,India,Gwalior,611826,S110,N,1988-07-02,1991-03-14
33,SUBID10033,Gensho,Srivastav,Korpal Ganj,1992-06-06,Male,+91 4834040556,India,Ludhiana,835018,S101,N,2012-06-06,2022-01-09
34,SUBID1034,Gopal,Das,Saini,1986-05-14,Male,+91 1181471524,India,Raebareli,176221,S101,N,2006-05-14,2011-04-08
35,SUBID10035,Dheeman,Tiwari,Dube Marg,1945-05-04,Male,+91 8239321466,India,Mysore,811970,S101,Y,1965-05-04,1973-11-13
36,SUBID1036,Upasana,Thakur,Vasa Ganj,1927-10-03,Female,NA,India,Ratlam,326733,S108,N,1947-10-03,1951-02-20
37,SUBID1037,NA,Rajput,Shere Chowk,1948-11-10,Male,+91 8390195092,India,Vadodara,877443,S101,Y,1968-11-10,1973-12-25
38,SUBID1038,NA,Thakur,Rastogi Street,1955-04-07,Female,+91 7434031446,India,Vijayawada,438940,S104,N,1975-04-07,1982-01-25
39,SUBID10039,Madhubala,Yadav,Sangha Marg,1937-01-11,Male,+91 8498685882,India,Jaunpur,624102,S104,Y,1957-01-11,1965-10-09
40,SUBID10040,Anjushree,Pandey,Vora Ganj,1976-07-04,Male,+91 5322869455,India,Ghaziabad,782221,S105,N,1996-07-04,1999-02-17
41,SUBID1041,NA,Rajput,Sinha Path,1930-11-25,Female,NA,India,Agartala,303503,S110,Y,1950-11-25,1957-09-14
42,SUBID10042,Chakrika,Sonkar,Bansal Circle,1964-08-05,Male,+91 8185162879,India,Ranchi,503290,S108,Y,1984-08-05,1992-09-09
43,SUBID1043,Saroj,Pandit,Sathe Zila,1942-08-26,Female,+91 5690408243,India,Muzaffarpur,130486,S103,Y,1962-08-26,1964-08-29
44,SUBID1044,Ayushmati,Vishwakarma,Balakrishnan Street,1932-09-20,Male,+91 3683223970,India,Satna,131247,S108,N,1952-09-20,1961-01-24
45,SUBID1045,Drashti,Divedi,Wadhwa,1926-07-03,Male,+91 9447269993,India,Saharsa,581568,S104,Y,1946-07-03,1952-11-27
46,SUBID10046,Aayushmaan,Maurya,Johal Nagar,1983-11-14,Female,+91 4464709769,India,Mehsana,987281,S104,Y,2003-11-14,2012-10-22
47,SUBID1047,NA,Rai,Sagar Chowk,1931-02-04,Male,+91 2973105946,India,Shivpuri,794170,S109,Y,1951-02-04,1955-07-14
48,SUBID10048,Chitranjan,Mishra,Madan Nagar,1925-09-09,Female,+91 5176024720,India,Morbi,945697,S108,N,1945-09-09,1952-06-21
49,SUBID10049,Paridhi,Yadav,Sant Path,1959-03-27,Female,+91 2139280879,India,Jabalpur,883754,NA,N,1979-03-27,1985-06-01
50,SUBID10050,Deependu,Gupta,Banik Ganj,1952-02-13,Female,+91 5674176644,India,Bareilly,417855,S102,Y,1972-02-13,1976-08-23
51,SUBID10051,NA,Rajput,Chauhan Chowk,1946-10-17,Male,+91 9887324437,India,Baranagar,765234,S103,Y,1966-10-17,1969-06-26
52,SUBID10052,Laksman,Rao,Sood Marg,1939-05-26,Female,+91 4504120828,India,Ahmednagar,117923,S101,Y,1959-05-26,1960-11-07
53,SUBID10053,NA,Sonkar,Shetty Marg,1988-06-27,Male,+91 6877897646,India,Pali,383290,S102,Y,2008-06-27,2016-10-30
54,SUBID10054,Shivakari,Pratap,Dugar Road,1944-11-02,Female,+91 3740484063,India,Hapur,28202,S104,N,1964-11-02,1967-06-15
55,SUBID10055,Madhu,Thakur,Sule Marg,1984-10-23,Male,+91 8367885507,India,Udaipur,565423,S107,N,2004-10-23,2008-07-10
56,SUBID10056,Chanak,Gupta,Shetty Nagar,1954-08-27,Male,+91 5093121123,India,Jalandhar,602989,S105,N,1974-08-27,1982-06-15
57,SUBID10057,Chittesh,Pandey,Mangal Chowk,1949-10-17,Male,+91 1378163498,India,Thoothukudi,666415,S109,Y,1969-10-17,1975-10-08
58,SUBID1058,Nawal,Rajput,Deol Nagar,1940-01-22,Male,+91 1885105576,India,Bhopal,791168,S106,N,1960-01-22,1969-04-18
59,SUBID10059,Gajabahu,Singh,Kara,1959-03-15,Male,+91 1207869436,India,Udupi,637221,S101,Y,1979-03-15,1986-07-05

In [18]:
df.isnull().sum()

sub _id       0
first_name    0
last_name     0
Street        0
Birth_date    0
Gender        0
Phone         0
Country       0
City          0
Zip Code      0
Subgrp_id     0
Elig_ind      0
eff_date      0
term_date     0
dtype: int64

In [19]:
# Check the duplicates
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [20]:
# Drop duplicates
df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

,sub _id,first_name,last_name,Street,Birth_date,Gender,Phone,Country,City,Zip Code,Subgrp_id,Elig_ind,eff_date,term_date
0,SUBID1000,Harbir,Vishwakarma,Baria Marg,1924-06-30,Female,+91 0112009318,India,Rourkela,767058,S107,Y,1944-06-30,1954-01-14
1,SUBID10001,Brahmdev,Sonkar,Lala Marg,1948-12-20,Female,+91 1727749552,India,Tiruvottiyur,34639,S105,Y,1968-12-20,1970-05-16
2,SUBID10002,Ujjawal,Devi,Mammen Zila,1980-04-16,Male,+91 8547451606,India,Berhampur,914455,S106,N,2000-04-16,2008-05-04
3,SUBID10003,Ballari,Mishra,Sahni Zila,1969-09-25,Female,+91 0106026841,India,Bihar Sharif,91481,S104,N,1989-09-25,1995-06-05
4,SUBID10004,Devnath,Srivastav,Magar Zila,1946-05-01,Female,+91 1868774631,India,Bidhannagar,531742,S110,N,1966-05-01,1970-12-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SUBID10095,Ekaaksh,Rai,Bansal Ganj,1933-12-02,Others,NA,India,Pimpri-Chinchwad,158186,S107,N,1953-12-02,1960-07-29
96,SUBID10096,Chanak,Sonkar,Kaur,1959-04-07,Others,+91 7284540687,India,Raurkela Industrial Township,899590,S101,Y,1979-04-07,1986-03-07
97,SUBID10097,NA,Sonkar,Rana Ganj,1940-02-04,Others,+91 8908240160,India,Mira-Bhayandar,896586,S107,Y,1960-02-04,1965-01-12
98,SUBID1098,Pushkar,Kumar,Sodhi Zila,1934-10-05,Others,+91 8956368286,India,Korba,910732,S107,Y,1954-10-05,1961-04-05
99,SUBID10099,Shikha,Srivastav,Ahuja Road,1970-09-06,Others,+91 3042509956,India,Nanded,101500,S109,Y,1990-09-06,1997-11-27

In [37]:
# Check Subscriber Id not less than 9 digit
count = 0
for i in df['sub _id'].values:
    
    if len(i)<9:
        df.drop([count], axis=0, inplace=True)
    elif len(str(i))>10:
        df.drop([count], axis=0, inplace=True)
    count = count+1

In [38]:
# Check the Elig_ind types
df['Elig_ind'].unique()

array(['Y', 'N'], dtype=object)

In [52]:
# Check always eff_date is greater than term_date 
count = 0
for x,y in df[['eff_date','term_date']].values:
    dob1 = datetime.strptime(x,'%Y-%m-%d').date()
    dob2 = datetime.strptime(y,'%Y-%m-%d').date()
    if dob1 > dob2:
        df.drop([count], axis=0, inplace=True)
    count = count + 1

In [13]:
# Export the Data
df.to_csv('../subscriber.csv',index=False)